.cover-bar {
  display: flex;
  background-color: rgb(176, 176, 253);
  width: 5px !important;
  justify-content: center;
  position: relative;
  &::before {
    bottom: 20%;
    position: absolute;
    content: url("@/assets/code.svg"); /* 设置图标的路径 */
    border-radius: 50%;
    background-color: rgb(176, 176, 253);
    // font-size: 20px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 30px; /* 图标的宽度 */
    height: 30px; /* 图标的高度 */
  }
}
.transfer-result {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: auto;
  video {
    height: 100%;
    width: auto;
  }
  .none {
    display: none;
  }
  img {
    border-radius: 4px;
    max-height: 400px;
  }
  min-height: 300px;
}
.transfer-histories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & > div {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
