.custom-menu {
  padding-right: 2px;
  position: absolute;
  width: min-content;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: no-drag;
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    -webkit-app-region: drag;
    width: 190px;
    font-size: 14px;
    font-weight: bold;
    & > div {
      height: 30px;
    }
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    .ant-btn > span {
      font-size: 12px;
    }
  }
  .controls {
    -webkit-app-region: no-drag;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: space-between;
    // width: 120px;
    font-size: 20px;
    z-index: 1000;
    .anticon {
      height: 100%;
      display: inline-block;
      padding: 5px 10px;
      color: blue;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
